<div class="container">
  <h1>{{ title }}</h1>
  <h2>{{ welcome }}</h2>
  <ul>
    @for (task of tasks(); track task) {
    <li>
      {{ task }}
    </li>
    }
  </ul>
  <hr />
  <h2>{{ "Hola".repeat(4) }}</h2>
  <p>La suma de 3 + 3 es {{ 3 + 3 }}</p>
  <p>Hola soy {{ name() }} y mi edad es {{ age }}</p>
  <hr />
  <img [src]="img" alt="" />
  <input type="text" [value]="name()" />
  <button [disabled]="disabled">Click me</button>
  <p>person: {{ person().name }}</p>
  <hr />
  <button (click)="clickHandler()">Click me</button>
  <button (dblclick)="clickHandler()">Doble me</button>
  <p>(change)</p>
  <input
    type="number"
    [value]="person().age"
    (change)="changeHandler($event)"
  />
  <p>(change)</p>
  <input type="text" [value]="person().name" (change)="changeHandler($event)" />
  <p>(keyDown)</p>
  <input
    type="text"
    [value]="person().name"
    (keydown)="keydownHandler($event)"
  />
  <p>(keyDown shift)</p>
  <input
    type="text"
    [value]="person().name"
    (keydown.shift.t)="clickHandler()"
  />
  <hr />
  <h1>Signals</h1>
  <ul>
    <p>Total: {{ tasks().length }}</p>
    @for (task of tasks(); track task; let i = $index) {
    <li>{{ i }} {{ task }}</li>
    }
  </ul>
  <input type="text" [value]="name()" (change)="changeHandler($event)" />
  <p>name: {{ name() }}</p>
  <p>name: {{ name() }}</p>
  @if (1 === 1) {
  <div>My Contend</div>
  } @if (name() === 'alexander') {
  <div>Soy {{ name() }}</div>
  }
  <h2>New Sintax</h2>
  @if (name() === 'alexander') {
  <div>Soy Alexander</div>
  } @if (person().name === 'Alexander' && person().age > 18) {
  <div>Soy {{ person().name }} y soy mayor, años: {{ person().age }}</div>
  } @else { Aun soy menor de edad }
  <h2>If Else new</h2>
  @if (person().name === 'Alexander' && person().age > 18) {
  <div>Soy Alexander y soy mayor de edad</div>
  } @else {
  <div>Aun soy menor de edad</div>
  }
  <hr />
  <input type="text" [value]="person().name" (change)="changeName($event)" />
  <div>
    @switch (person().name) { @case ('Alexander') {
    <p>Yo soy Alexander</p>
    } @case ('Nicolas') {
    <p>Yo soy Nicolas</p>
    } @case ('Julian') {
    <p>Yo soy Julian</p>
    } @default {
    <p>Yo cumplo con ninguna</p>
    } }
  </div>
  <hr />
  <input type="color" [formControl]="colorCtrol" />
  <p>Color: {{ colorCtrol.value }}</p>
  <svg>
    <g>
      <rect
        x="0"
        y="0"
        height="100"
        width="100"
        [attr.fill]="colorCtrol.value"
      />
    </g>
  </svg>
  <hr />
  <input type="number" [formControl]="widhthCtrol" />
  <span class="box" [style.width.px]="widhthCtrol.value"></span>
  <hr />
  <p>
    <input type="text" [formControl]="nameCtrl" /> <br />
    <span
      class="message-error"
      [class.show]="nameCtrl.invalid && nameCtrl.touched"
      >Nombre invalido</span
    >
  </p>
  <p>
    <input type="text" />
  </p>
  <h2>New sintax For</h2>
  <ul>
    <p>Total: {{ tasks().length }}</p>
    @for (task of tasks(); track task; let i = $index) {
    <li>{{ i }} {{ task }}</li>
    }
  </ul>
  <br />
  <ul>
    @for(task of tasks(); track task; let i = $index){
    <li>{{ i }} {{ task }}</li>
    } @empty {
    <li><strong>La lista esta en vacio</strong></li>
    }
  </ul>
  <h2>New sintax Switch</h2>
  <div>
    @switch (person().name) { @case ('Alexander') {
    <p>Yo soy Alexander</p>
    } @case ('Nicolas') {
    <p>Yo soy Nicolas</p>
    } @case ('Julian') {
    <p>Yo soy Julian</p>
    } @default {
    <p>Yo cumplo con ninguna</p>
    } }
  </div>
  <br />
  <div>
    @switch(person().name){ @case('Alexander'){
    <p>Yo soy Alexander</p>
    } @case('Nicolas'){
    <p>Yo soy Nicolas</p>
    } @case('Julian'){
    <p>Yo soy Julian</p>
    } @default {
    <p>Yo no soy nadie</p>
    } }
  </div>
</div>
